{{ define "content" }}
<h1>Please log in</h1>
<form action="/login" method="POST">
  {{ .csrfField }}
  <input type="hidden" name="challenge" value="{{ .Challenge }}">
  <div>
    <p>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" value="foo@bar.com">
    </p>
    <p>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" value="123456">
    </p>
    <p>
      <input type="submit" value="Log in">
    </p>
  </div>
</form>
{{ end }}